.background {
    background-color: #3c1725;
}

#container {
    overflow: hidden;
    text-align: center;
    position: relative;
}

#top-menu {
    border-radius: 25px;
    height: 100px;
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    background-color: #FDFEFF;
    /* box-shadow: 10px 5px 10px #7C636E; */
    filter: drop-shadow(5px 5px 100px #7C636E);
}

.top-button {
    float: left;
    margin-left: 50px;
    text-align: center;
    line-height: 100px;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #231E1F;
}

.top-button:hover {
    color: #7C636E;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    float: right;
    margin-top: 8px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

@font-face {
    font-family: 'dk_jambo-regular';
    src: url('dk_jambo.otf') format('truetype');
  }

#main-board {
    height: 400px;
    width: 1100px;
    display: inline-block;
    margin: auto 5px;
    background-image: url('board.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 50px;
}

#status {
    height: 200px;
    width: 400px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 100px;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: #FDFEFF;
}

.neonText {
  color: #fff;
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
}

.p2-big-pit {
    height: 170px;
    width: 70px;
    float:left;
    margin-left: 30px;
    margin-top: 190px;
}

.p1-big-pit {
    height: 170px;
    width: 70px;
    float:left;
    margin-left: 5px;
    margin-top: 90px;
}

#p1-pit-name {
    color: white;
    text-align: center;
    margin-bottom: 80px;
}

#p2-pit-name {
    color: white;
    text-align: center;
    margin-top: 80px;
}

.big-pit-value {
    color: white;
    text-align: center;
    font-size: 24px;
}

#p2-pits {
    height: 130px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

#p1-pits {
    height: 130px;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
}

.selected-pits {
    border-radius: 30px;
    border-style: solid;
    border-color: #942b23;
}

#pits-container {
    height: 360px;
    overflow: auto;
    margin-top: 60px;
    margin-left: 32px;
    float: left;
}

a {
    text-decoration: none;
    color: white;
}

a:hover .pit {
     filter: brightness(150%);
}

.blinking {
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
    margin: 0;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin: auto;
  background-color: #572a1b;
  font-size: 18px;
  color: #e1dbde;
  border: 20px solid #74452c;
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
}

.about-container img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 20px;
}

.about-container p {
  flex: 1;
  margin: 0;
  text-align: left;
}

.about-container p a {
  color: #a13961;
}

.stones-6 {
    background-image: url('6stones.png');
}

.stones-5 {
    background-image: url('5stones.png');
}

.stones-4 {
    background-image: url('4stones.png');
}

.stones-3 {
    background-image: url('3stones.png');
}

.stones-2 {
    background-image: url('2stones.png');
}

.stones-1 {
    background-image: url('1stone.png');
}

.multiple_stones {
    background-image: url('multiple_stones.png');
}