.background {
    background-color: #fae5cf;
}

#container {
    width: 1024px;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}

#main-board {
    border-radius: 25px;
    height: 400px;
    width: 1024px;
    margin-bottom: 50px;
    margin-top: 100px;
    background-color: #855c46;
    box-shadow: 10px 5px 10px #bf9880;
}

#status {
    border-radius: 25px;
    height: 100px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #fcf3dc;
    box-shadow: 10px 5px 10px #8c6954;
    margin-left: 312px;
    text-align: center;
    line-height: 100px;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
}

.big-pit {
    border-radius: 25px;
    height: 360px;
    width: 100px;
    background-color: #2e1208;
    float:left;
    margin-left: 20px;
    margin-top: 20px;
}

#pits-container {
    height: 360px;
    width: 700px;
    background-color: #2e1208;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
    float: left;
}

#p1-pit-name {
    color: white;
    text-align: center;
    margin-top: 10px;
}

#p2-pit-name {
    color: white;
    text-align: center;
    margin-top: 155px;
}

.big-pit-value {
    color: white;
    text-align: center;
    margin-top: 150px;
    font-size: 24px;
}

#p2-pits {
    height: 160px;
    width: 660px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

#p2-pits-selected {
    height: 160px;
    width: 660px;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    box-shadow: 0px 0px 0px 1px #e0e0e0;
}

#p1-pits {
    height: 160px;
    width: 660px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

#p1-pits-selected {
    height: 160px;
    width: 660px;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    box-shadow: 0px 0px 0px 1px #e0e0e0;
}

.pit {
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: #855c46;
    width: 92px;
    height: 130px;
    line-height: 130px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

#reset-button {
    border-radius: 50px;
    width: 200px;
    height: 50px;
    background-color: #f79860;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
    margin-left: 412px;
    box-shadow: 5px 5px 10px #8c6954;
    float: left;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.blinking {
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}